body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.select-box, .input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #034172;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #2f5980;
}

.btn:active {
    background-color: #004D40;
}

.btndelete {
    background-color: #FF4956;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btndelete:hover {
    background-color: #FF0000;
}

.btndelete:active {
    background-color: #800000;
}

input[type="text"],
input[type="date"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Assicura che il padding non influenzi la larghezza totale */
}
.checkbox-container {
    margin-bottom: 10px;
}
.checkbox-container label {
    margin-left: 5px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Rende la checkbox tondeggiante */
    border: 2px solid #2d6ee6;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.custom-checkbox.checked:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: block;
}